*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.job-main {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    line-height: 1.6;
    color: #333;
}


.job-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
 
}
.job-section {
    margin-bottom: 40px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.job-section h2 {
    font-size: 24px;
    padding: 20px;
    background-color: #333;
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-top: -20px;
}

.job-list li {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #eee;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.job-list h3 {
    font-size: 20px;
    color: green;
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.container p {
    margin: 0;
} 
a{
    color: orange;
}
.job-main ul{
     list-style-type: none;
     margin: 0;
     padding: 0;

}