/* Navbar container */
.navbar {
    background-color: #333; 
    color: #fff;
    padding: 10px 0; 
    /* display: flex;  */
  } 
  
  
  .navbar-brand {
    font-size: 24px; 
    font-weight: bold; 
    text-decoration: none; 
    color: #fff; 
    
  }
  
  .nav-link {
    text-decoration: none; /* Remove underlines from the links */
    color: #fff; /* Text color */
    font-size: 18px; /* Adjust the font size */
  }
  
  .decoration{
    color: orange;
    font-size: 28px;
    
  }
  .navbar-collapse{
    display: flex; 
    flex-direction: row; 
    font-size: 24px; /* Adjust the font size */
    font-weight: bold; /* Make it bold */
    text-decoration: none; /* Remove underlines from the link */
    color: #fff; /* Text color */
    
  }
  .nav-link {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    /* Add margin-right property to adjust the gap between links */
    margin-right: 10px; /* Adjust this value as needed */
  }
  
  #links:hover{
    color: orange;
    transition: transform .2s;
    transform: scale(1.15);
  }